{% include page_banner.html %}
<table class="quadbox"><tbody><tr>
  <td style="background: url({{ "/images/common/bg_quad_callcenter1.png" | prepend: site.baseurl }});" width="32%">
    <h1>Call Center</h1>
    <p>Servicios integrales de call center a la medida su necesidad.</p>
    <p><a href="{{ "/es/callcenter/index.html" | prepend: site.baseurl }}">Ver m&aacute;s</a></p>
  </td>
  <td class="filler"></td>
  <td style="background: url({{ "/images/common/bg_quad_sat2.png" | prepend: site.baseurl }};" width="32%">
    <h1>Satelital</h1>
    <p>Servicios satelitales de cobertura global.</p>
    <p><a href="{{ "/es/satelital/index.html" | prepend: site.baseurl }}">Ver m&aacute;s</a></p>
  </td>
  <td class="filler"></td>
  <td style="background: url({{ "/images/common/bg_quad_stream1.png" | prepend: site.baseurl }});" width="32%">
    <h1>Radios on-line</h1>
    <p>Su radio a todo el mundo, a través de internet.</p>
    <p><a href="{{ "/es/streaming/audio.html" | prepend: site.baseurl }}">Ver m&aacute;s</a></p>
  </td>
</tr></tbody></table><!-- quadbox -->

<div class="linkfarm">
<ul><li>Tutoriales
<ul>
<li><a href="{{ "/es/tutoriales/configuracion-de-outlook-2007.html" | prepend: site.baseurl }}">Configuraci&oacute;n de Outlook 2007</a></li>
<li><a href="{{ "/es/tutoriales/configuracion-de-outlook-express.html" | prepend: site.baseurl }}">Configuraci&oacute;n de Outlook Express</a></li>
<li><a href="{{ "/es/tutoriales/configuracion-de-audiocodes-mp114.html" | prepend: site.baseurl }}">Configuraci&oacute;n de su cuenta SIP en Audiocodes MP-114</a></li>
<li><a href="{{ "/es/tutoriales/configuracion-de-eyebeam.html" | prepend: site.baseurl }}">Configuraci&oacute;n de su cuenta SIP en Eyebeam</a></li>
<li><a href="{{ "/es/tutoriales/configuracion-de-xpro.html" | prepend: site.baseurl }}">Configuraci&oacute;n de X-Ten o X-Pro</a></li>
<li><a href="{{ "/es/tutoriales/instalacion-de-simplecast.html" | prepend: site.baseurl }}">Instalaci&oacute;n de Simplecast</a></li>
<li><a href="{{ "/es/tutoriales/transmision-de-video-en-vivo-con-windows-media.html" | prepend: site.baseurl }}">Transmisi&oacute;n de video en vivo con Windows Media</a></li>
</ul>
</li></ul>
</div><!-- .linkfarm -->
