<div class="tabla-contenidos">
<h2>Servicios</h2>
{% unless page.menu == 'callcenter/index' %}
<ul>
<li><a href="{{ "/es/callcenter/index.html" | prepend: site.baseurl }}">Tecnolog&iacute;as de Call Center</a>
{% endunless %}
<ul>
<li>{% unless page.menu == "callcenter/llamadas-salientes" %}<a href="{{ "/es/callcenter/llamadas-salientes.html" | prepend: site.baseurl }}">{% endunless %}Llamadas salientes{% unless page.menu == "callcenter/llamadas-salientes" %}</a>{% endunless %}</li>
<li>{% unless page.menu == "callcenter/llamadas-entrantes" %}<a href="{{ "/es/callcenter/llamadas-entrantes.html" | prepend: site.baseurl }}">{% endunless %}Llamadas entrantes{% unless page.menu == "callcenter/llamadas-entrantes" %}</a>{% endunless %}</li>
<li>{% unless page.menu == "callcenter/virtual" %}<a href="{{ "/es/callcenter/virtual.html" | prepend: site.baseurl }}">{% endunless %}Call center virtual{% unless page.menu == "callcenter/virtual" %}</a>{% endunless %}</li>
<li>{% unless page.menu == "callcenter/formacion" %}<a href="{{ "/es/callcenter/formacion.html" | prepend: site.baseurl }}">{% endunless %}Formaci&oacute;n especializada en marketing telef&oacute;nico{% unless page.menu == "callcenter/formacion" %}</a>{% endunless %}</li>
<li>{% unless page.menu == "callcenter/outsourcing" %}<a href="{{ "/es/callcenter/outsourcing.html" | prepend: site.baseurl }}">{% endunless %}Externalizaci&oacute;n de departamentos de atenci&oacute;n al cliente{% unless page.menu == "callcenter/outsourcing" %}</a>{% endunless %}</li>
<li>{% unless page.menu == "callcenter/consultoria" %}<a href="{{ "/es/callcenter/consultoria.html" | prepend: site.baseurl }}">{% endunless %}Consultor&iacute;a, an&aacute;lisis y recomendaciones{% unless page.menu == "callcenter/consultoria" %}</a>{% endunless %}</li>
<li>{% unless page.menu == "callcenter/proyectos-llave-en-mano" %}<a href="{{ "/es/callcenter/proyectos-llave-en-mano.html" | prepend: site.baseurl }}">{% endunless %}Proyectos llave en mano{% unless page.menu == "callcenter/proyectos-llave-en-mano" %}</a>{% endunless %}</li>
</ul>
{% unless page.menu == 'callcenter/index' %}
</li>
</ul>
{% endunless %}
</div><!-- .tabla-contenidos -->
